/* 3 @use rules must be written before any other rules */

@use 'partial';
@use 'other';

/* 1 */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

%color-shared {
  color:red;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}
p {
  margin-left: 15px;
}

/* 2 */

#prep {
  span {
    color: blueviolet;
  }
}

/* 4 */

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
.box {
  @include transform(rotate(5deg));
  background-color: chocolate;
}

/* 5 */

.inheritance {
  @extend %color-shared;
}

.change {
  @extend %color-shared;
}

/* 6 */
