
/* 1 */

#media {
    background-color: aquamarine;
    height: 30px;
    width: 1000px;
}

@media screen and (max-width: 2000px) {
    #media { width: 10% }
}

/* 2 */

#media2 { background-color: yellow; height: 30px; width: 300px; }

@media screen and (orientation: portrait) {

    #media2 { height: 50px; width: 100px;}

}

/* 3 */

@media screen and (min-device-height: 700px) and (min-device-width: 1200px) {
    #media3 { width: 100px; height: 100px; background-color: blue;}
}
