/* 1 */
#marilyn {
    background: #233;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
/* 2 */
#monroe {
    background: #233;
    width: 100px;
    height: 100px;
    border-radius: 6px 12px 18px 24px;
  }
/* 3 */
#nanoo {
  background: #233;
  width: 100px;
  height: 150px;
  border-radius: 50px/100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
