/* 1 */

#note {
    width: 200px;
    height: 200px;
    background: rgb(31, 155, 149);
    transform: rotate(-10deg);
}

/* 2 */

#note2 {
    width: 200px;
    height: 200px;
    background: rgb(31, 155, 149);
    transform: skew(20deg,10deg);
}
