/* 1 */
p {
    color: red;
  }
/* 2 */
div ul li span {
    color: blue;
}
div ol li, span {
    color: purple;
}
/* 3 */
#this-is-my-id {
    color:green;
}
/* 4 */
html {
  font-size: 13px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
    font-size: 60px;
    text-align: center;
}  
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
}
/* 5 */
/* 6 */
/* 7 */
/* 8 */
